/* Styles for the Services Page */
.services-container {
  background: linear-gradient(rgba(50, 135, 169, 0.7),rgba(14, 5, 77, 0.7)), url('../assets/program-2.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
    padding: 20px;
    text-align: center;
  }
  
  .services-container h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .services-container p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .service-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-item h2 {
    font-size: 1.8rem;
    color: #333;
  }
  
  .service-item p {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
  }
  