/* Signup.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   body {
    margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  } 
 
    
   
  
  .signup-wrapper {
   background: linear-gradient(rgba(50, 135, 169, 0.7),rgba(14, 5, 77, 0.7)), url('../assets/program-2.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .signup-box {
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .textbox {
    margin-bottom: 20px;
  }
  
  .textbox input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .textbox input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  .btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #45a049;
  }
  
  .additional-links {
    margin-top: 20px;
  }
  
  .additional-links a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .additional-links a:hover {
    text-decoration: underline;
  }
  